---
rmq:
  user: admin
  password: admin

proxy_manager:
  MYSQL_PORT: 3306
  MYSQL_HOST: pobajocu.beget.app
  MYSQL_USER: ggvlasey_avito
  MYSQL_PASSWORD: 'm'
  MYSQL_DBNAME: ggvlasey_avito
  RMQ_HOST: rmq
  #: если true - то грузится только 5 прокси
  DEBUG_POOL: false

proxy_manager2:
  - name: MYSQL_PORT
    value: 3306
  - name: MYSQL_HOST
    value: pobajocu.beget.app
  - name: MYSQL_USER
    value: ggvlasey_avito
  - name: MYSQL_PASSWORD
    value: 'm'
  - name: MYSQL_DBNAME
    value: ggvlasey_avito
  - name: RMQ_HOST
    value: rmq
  - name: DEBUG_POOL
    value: false
