worker_processes 2;

events { worker_connections 1024; }

http {
	server {
		listen 15672;
		server_name image.local;

		location ~ (/) {
			proxy_pass http://rmq:15672;
		}
	}

# пробросить запросы к RMQ
	server {
		listen 5672;
		server_name image.local;

		location ~ (/) {
			proxy_pass http://rmq:5672;
		}
	}

    server {
        listen 80;
        server_name image.local;

        location ~ (/) {
            proxy_pass http://ip-show:3000;
        }
    }


}